.container-form {
  width: 30em;
  margin: 0 auto;
}

.block-align {
  display: inline-flex;
}

#img-profil {
  background-image: url("https://openclassrooms.com/bundles/common/images/avatar_defaut.png");
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%);
}
h3 {
  color: rgba(0,0,0,0.92);
  font-size: 1.125rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.75rem;
}

.block{
  position: relative;
}
