.efd-navbar {
  background: rgb(0, 120, 245);
  position: fixed;
  z-index: 40;
  transition: height 0.3s ease-in, background-color 0.25s ease-in;
}

.efd-navbar-transparent {
  background-color: transparent;
  transition: height 0.3s ease-in, background-color 0.5s ease-in;
}

.efd-navbar-scroll-down {
  background: rgb(0, 120, 245);
  background-color: radial-gradient(
    circle,
    rgba(0, 120, 245, 1) 0%,
    rgba(66, 136, 255, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
  transition: height 0.3s ease-in, background-color 0.5s ease-in;
}

.left-section {
  display: flex;
  align-items: center;
}

.brand-wrap {
  cursor: pointer;
}

.navbar-title-logo {
  width: 3em;
  margin: 0 0.5em;

  margin-top: -0.5em;
}

.brand-exper {
  font-family: "Fjalla One", sans-serif;
  font-size: 1.5em;
}

.brand-food-delivery {
  font-family: "Dancing Script", cursive;
  font-size: 2em;
}

.left-section,
.middle-section,
.right-section {
  width: calc(100% / 3);
}

.middle-section {
  text-align: center;
}

.right-section {
  text-align: right;
  align-items: center;
  line-height: 100%;
}

.sign-items-group {
  text-align: right;
  align-items: center;
}

.user-icon,
.shop-cart-icon {
  display: inline-block;
  margin: 0 0.5em;
  cursor: pointer;
}

.user-icon {
  font-size: 2em;
}

.shop-cart-icon {
  font-size: 1.8em;
}

.efd-sidenav-container {
  z-index: 100;
}

.efd-sidenav {
  width: 20em;
  height: 100vh;
  position: fixed;
  background: rgb(0, 120, 245);
  //background: radial-gradient(circle, rgba(0, 120, 245, 1) 0%, rgba(66, 136, 255, 1) 41%, rgba(0, 212, 255, 1) 100%);
  color: white;
  font-weight: 500;
  z-index: 100;
  opacity: 0.98;
}

.efd-mat-menu-user {
  padding: 1em;
}

//.userInfosMenu

// .arrow {
//   position: relative;

// }
// .arrow:after {
//   position: absolute;
//   content: "";
//   width: 0;
//   height: 0;
//   right: 20px;
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 10px solid #e46e6e;
//   left: 20px;
//   top: -15px;
//   bottom: 110%;

// }
