<div class="restaurant">
    <mat-card *ngIf="restaurant">
        <mat-card-title>{{restaurant.name}}</mat-card-title>
        <!-- TODO: remplacer l'url par l'url venant du service Restaurant-->
        <img mat-card-image src="../../../assets/images/depositphotos_77833254-stock-illustration-restaurant-logo.jpg">
        <mat-card-content><b>Description: </b>{{restaurant.description}} </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="navigateToMenu()">Menu</button>
        </mat-card-actions>
    </mat-card>
</div>
