<mat-toolbar color="primary" class="efd-navbar efd-restorer-navbar" fxLayout="row" fxLayoutAlign="space-between center">

  <section class="restorer-navbar-title" (click)="navigate('home')">
    <img src="../../../assets/images/logo_efd_white.png" class="restorer-navbar-title-logo">
    <span class="restorer-navbar-title-text">
      <span class="brand-exper">Exper </span> <span class="brand-food-delivery"> Food Delivery </span>
    </span>
  </section>

  <section class="nav-items-group">
    <button mat-button (click)="navigate('restaurants')">
      <mat-icon>storefront</mat-icon> Restaurants
    </button>
    <button mat-button (click)="navigate('menus')">
      <mat-icon>fastfood</mat-icon> Menus
    </button>
  </section>

  <section class="right-items-group" *ngIf="userConnected">

    <mat-icon [matMenuTriggerFor]="userInfosMenu" class="user-icon">person_pin</mat-icon>
    <mat-menu #userInfosMenu="matMenu" xPosition="before">
      <div>
        <span class="name">{{userConnected.firstname ? userConnected.firstname: 'Firsname'}} {{userConnected.lastname
          ? userConnected.lastname : 'LASTNAME' | uppercase}}</span><br> <span
          class="email">{{userConnected.email}}</span>
      </div>
      <button mat-button color="primary" (click)="logout()">
        <mat-icon class="menu-logout">exit_to_app</mat-icon><span class="spacer"></span> <span>Deconnexion
        </span>
      </button>
    </mat-menu>

    <mat-icon [matMenuTriggerFor]="shopCartMenu" class="shop-cart-icon">shopping_cart</mat-icon>
    <mat-menu #shopCartMenu="matMenu" xPosition="before">
      //TODO : menu panier
    </mat-menu>

  </section>
</mat-toolbar>
