.efd-restorer-navbar {
  background: rgb(0, 120, 245);
  position: fixed;
  z-index: 100;
  transition: height 0.3s ease-in, background-color 0.25s ease-in;
}

.efd-navbar-transparent {
  background-color: transparent;
  transition: height 0.3s ease-in, background-color 0.5s ease-in;
}

.efd-navbar-scroll-down {
  background: rgb(0, 120, 245);
  background-color: radial-gradient(circle, rgba(0, 120, 245, 1) 0%, rgba(66, 136, 255, 1) 41%, rgba(0, 212, 255, 1) 100%);
  transition: height 0.3s ease-in, background-color 0.5s ease-in;
}

.spacer {
    flex: 1 1 auto;
  }

.restorer-navbar-title {
  cursor: pointer;
  display: flex;
  align-items:center;
}

.restorer-navbar-title-logo{
  width: 3em;
  margin: 0 0.5em;

  margin-top:-0.5em;
}

.brand-exper {
  font-family: 'Fjalla One', sans-serif;
  font-size : 1.5em;
}

.brand-food-delivery {
  font-family: 'Dancing Script', cursive;
  font-size:2em;
}

.restorer-navbar-title, .nav-items-group, .right-items-group{
  width: calc(100% / 3);
}

.nav-items-group{
  text-align: center;
}

.right-items-group{
  text-align: right;
  align-items: center;
  line-height: 0.5;
}


.user-icon, .shop-cart-icon {
  margin: 0 0.5em;
  cursor: pointer;
}

.user-icon {
  font-size: 2em;
}

.shop-cart-icon {
  font-size: 1.8em;
}
