.efd-restorer-navbar {
  position: fixed;
  z-index: 100;
}


.spacer {
    flex: 1 1 auto;
  }

.restorer-navbar-title {
  cursor: pointer;
  display: flex;
  align-items:center;
}
.restorer-navbar-title-logo{
  width: 3em;
  margin: 0 0.5em;

  margin-top:-0.5em;
}

.brand-exper {
  font-family: 'Fjalla One', sans-serif;
  font-size : 1.5em;


}

.brand-food-delivery {
  font-family: 'Dancing Script', cursive;
  font-size:2em;

}


.nav-item {
  font-size : 0.75em;
  margin : 0 1em;

}
