
<div class="page-container">

  <section class="home-page-title">
    <img src="../../../assets/images/logo_efd_white.png" />
    <h1>
      <span class="brand-exper">Exper</span>
      <span class="brand-food-delivery"> Food Delivery </span>
    </h1>
    <div class="home-text">
      Vous êtes dévelopeur et avez la flemme de cuisiner ? Exper Food Delivery est la solution.<br>
      Des restaurants, des plats, une livraison chez vous.
    </div>
  </section>

  <section class="section1">
    //TODO
  </section>

  <section class="section2">
    //TODO
  </section>

  <section class="section3">
    //TODO
  </section>

</div>


