
.page-container {
  padding-top:10em;
  background-image: url("../../../../assets/images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(70%);
}



.home-text {
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 0px 15px rgba(150, 150, 150, 1);
}

.section1 {
  height: 50vh;
  background-color: #ffffff;
}

.section2 {
  height: 50vh;
  //background-color: blue;
}

.section3 {
  height: 50vh;
  background-color: #ffffff;
}

.login-page-content {
  width: 30em;
  margin: 0 auto;
}

.home-page-title {
  height: 80vh;
  text-align: center;
  text-shadow: 1px 0px 15px rgba(150, 150, 150, 1);
}

.brand-exper {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.5em;
  color: #ffffff;
}

.brand-food-delivery {
  font-family: "Dancing Script", cursive;
  font-size: 3.5em;
  color: #ffffff;
}
