.page-loader {
  position: absolute;
  min-height: 95vh;
  top:0;
  left:0;
  width: 100%;
  height: 105vh;
  z-index: 9999;
  background-color: white;
}
.page-container {
  opacity:0;
  transition:opacity 0.5s ease-in;
}

.page-container-loaded {
  padding-top:10em;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(70%);
  background-image: url("../../../../assets/images/background.jpg");
  opacity:1;
  transition:opacity 0.5s ease-in;
}

.home-text {
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 0px 15px rgba(150, 150, 150, 1);
}

.section1 {
  height: 50vh;
  background-color: #ffffff;
}

.section2 {
  height: 50vh;
  //background-color: blue;
}

.section3 {
  height: 50vh;
  background-color: #ffffff;
}

.login-page-content {
  width: 30em;
  margin: 0 auto;
}

.home-page-title {
  height: 80vh;
  text-align: center;
  text-shadow: 1px 0px 15px rgba(150, 150, 150, 1);
}

.brand-exper {
  font-family: "Fjalla One", sans-serif;
  font-size: 2.5em;
  color: #ffffff;
}

.brand-food-delivery {
  font-family: "Dancing Script", cursive;
  font-size: 3.5em;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .lofo-efd{
    width: 10em;
  }
  .brand-exper {
    font-size: 1.75em;
  }

  .brand-food-delivery {
    font-size: 2.75em;

  }
}

@media screen and (max-width: 456px) {
  .lofo-efd{
    width: 8em;
  }
  .brand-exper {
    font-size: 1.5em;
  }

  .brand-food-delivery {
    font-size: 2.5em;

  }
}
