<section *ngIf="loading">
  <div fxLayout="row wrap" fxLayoutGap="30px grid">
    <div fxFlex="25%" *ngFor="let i of loadingArray ">
      <div class="restaurant">
        <div class="ph-item">
          <div class="ph-col-12">
            <div class="ph-picture"></div>
            <div class="ph-row">
              <div class="ph-col-8 "></div>
              <div class="ph-col-4 empty "></div>
              <div class="ph-col-12 empty"></div>
              <div class="ph-col-8 big"></div>
              <div class="ph-col-4 empty big"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="!loading">
  <div fxLayout="row wrap" fxLayoutGap="30px grid">
    <div fxFlex="25%" *ngFor="let menu of menus">

      <mat-card *ngIf="menu">
        <mat-card-title>{{menu.name}}</mat-card-title>

        <div class="outer-wrapper">
          <div class="frame">
            <img
            *ngIf="menu.mainPhotoUrl"
            mat-card-image
            defaultImage="../../../../assets/images/elipse-loading.svg"
            [lazyLoad]="menu.mainPhotoUrl"
            >
            <img *ngIf="!menu.mainPhotoUrl" mat-card-image
            src="../../../assets/images/meal.svg">
          </div>
        </div>



        <mat-card-content><b>prix: </b>{{menu.price}} €</mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="addToShopCart(menu)" *ngIf="!role || role == userRole.Customer">Commander</button>
          <button mat-raised-button  *ngIf="role && role == userRole.Restorer">Modifier</button>
          <button mat-raised-button color="warn" *ngIf="role && role == userRole.Restorer">Supprimer</button>
        </mat-card-actions>
      </mat-card>

      <div>
      </div>
    </div>
  </div>


</section>
