<mat-card class="update-form-card">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="updateLoginForm" [editable]="isEditable">
      <form [formGroup]="updateLoginForm" (ngSubmit)="updateLogin()">
        <ng-template matStepLabel>Remplissez les informations de connexion</ng-template>
        <div>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="emailCtrl" placeholder="Email" required>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="passwordCtrl" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext type="submit">Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="updateInfoGroup" [editable]="isEditable">
      <form [formGroup]="updateInfoGroup" (ngSubmit)="updateProfil()">
        <ng-template matStepLabel>Remplissez vos informations personnelles</ng-template>
        <div>
          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastnameCtrl" placeholder="Nom" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput formControlName="firstnameCtrl" placeholder="Prénom" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="addressCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Ville</mat-label>
            <input matInput formControlName="cityCtrl" placeholder="Ville" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Code Postal</mat-label>
            <input matInput formControlName="cpCtrl" #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext type="submit">Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>C'est fini</ng-template>
      <p>Vous avez terminé.</p>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button (click)="stepper.reset()">Suivant</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>

