

h2{
    margin: 30px 0 40px 0;
    text-align: center;
    font-size: 18pt;
}

.restaurant-card {
 // height: 600px;
}

.city {
  text-align: right;
}

.city-chips {
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color:white;
  line-height: 40px;
  border-radius: 25px;
  background-color: #FFD02D;
}

.ph-picture{
  height: 400px!important;
}

.mat-card-image:first-child{
  margin-top: 0!important;
}
.outer-wrapper{
  display: inline-block;
  //margin: 20px;
  height: 400px;
}
.frame{
   width: 368px;
   height: 400px;
  //border: 1px solid black;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  background-color: rgba($color: #EAEAEA, $alpha: 0.2);
}
img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.description {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}
