// .mat-form-field + .mat-form-field {
//   margin-left: 8px;
// }
.page-container {
  padding-top:4em;
}

.login-page-content {
  width : 30em;
  margin : 0 auto;

}

.login-page-title {

  text-align: center;

}

.brand-exper {
  font-family: 'Fjalla One', sans-serif;
  font-size : 1.5em;
  color : #009de0;

}

.brand-food-delivery {
  font-family: 'Dancing Script', cursive;
  font-size:2.5em;
  color : #0266A4;
}

.connection-text {
  font-size: 1.2em;
  color :#565656;
}

.create-account {
  padding: 1em 0;
  font-size: 1.1em;
  color :#565656;
  text-align:center;
}

.create-account-link {
  color : #0266A4;
  cursor: pointer;
}
